body,
html {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100%;
}
.header {
  background-color: #212121;
  -webkit-box-shadow: 0 0 11px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 11px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 11px 0 rgba(0,0,0,0.75);
  font-size: 2.3em;
  color: #5EFF00;
  font-family: monospace;
  text-align: center;
  padding: 5px;
}
.upload-image {
  font-size: 1.3em;
  text-align: center;
}
.canvas-region {
  display: flex;
  canvas {
    margin: 10px auto;
    width: 90%;
    height: 80%;
  }
}
